
<ion-view title="Home">

	<ion-content class="has-header backgr">


    <div class="container text-center">

      <hr />

      <div class="col row">
        <div class="col-sm-12">
          <!-- init soundManager2 player -->
          <sound-manager></sound-manager>

          <p class="text-white">
            Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
          </p>
          <div class="col">
          <div class="seekBase col-center" seek-track>
          <div class="seekLoad progress-bar colour-animated col-center" ng-style="{width : ( progress + '%' ) }"></div>
          </div>
          </div>
          <br />
          <button play-music>Play</button>
          -
          <button pause-music>Pause</button>
          -
          <button stop-music>Stop</button>
          -
          <button repeat-music>Repeat ({{ repeat }})</button>
          -
          <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>

          <h5 class="text-white">Is Playing: {{ isPlaying }}</h5>
          <br/>
          <br/><h5 class="text-white">Volume: {{ volume }} -</h5>
          <button music-volume data-type="increase">+</button>
          -
          <button music-volume data-type="decrease">-</button>
          -
          <button mute-music>Mute ({{ mute }})</button>
          <br/>
          <br/>
          <button prev-track>Prev Track</button>
          -
          <button next-track>Next Track</button>
          -
        </div>
      </div>
    </div>


  </ion-content>

</ion-view>



