
<ion-view title="Home">

	<ion-content class="has-header backgr">


    <div class="container text-center">
      <div class="col row">
        <div class="col-sm-12">

          <h5>Songs</h5>
          <ul>
            <li ng-repeat="song in songs">
              <button music-player="play" add-song="song">{{ song.title }}</button>
              <button music-player add-song="song">+</button>
            </li>
          </ul>

          <button play-all="songs">Play all</button>
          <button play-all="songs" data-play="false">Add all</button>

        </div>
      </div>

      <hr />

      <div class="col row">
        <div class="col-sm-12">
          <!-- init soundManager2 player -->
          <sound-manager></sound-manager>

          <p class="text-white">
            Currently Playing: {{ currentPlaying.title }} by {{ currentPlaying.artist }} ({{ currentPostion }} / {{ currentDuration }})
          </p>
          <div class="col">
          <div class="seekBase col-center" seek-track>
          <div class="seekLoad progress-bar colour-animated col-center" ng-style="{width : ( progress + '%' ) }"></div>
          </div>
          </div>
          <br />
          <button play-music>Play</button>
          -
          <button pause-music>Pause</button>
          -
          <button stop-music>Stop</button>
          -
          <button repeat-music>Repeat ({{ repeat }})</button>
          -
          <button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>

          <h5 class="text-white">Is Playing: {{ isPlaying }}</h5>
          <br/>
          <br/><h5 class="text-white">Volume: {{ volume }} -</h5>
          <button music-volume data-type="increase">+</button>
          -
          <button music-volume data-type="decrease">-</button>
          -
          <button mute-music>Mute ({{ mute }})</button>
          <br/>
          <br/>
          <button prev-track>Prev Track</button>
          -
          <button next-track>Next Track</button>
          -
          <button clear-playlist>Clear Playlist</button>
          <br/>
          <br/>
          <h5 class="text-white">Playlist</h5>
          <ul>
            <li ng-repeat="song in playlist">
              <a play-from-playlist="song" class="text-white">{{ song.title }}</a>
              -
              <a remove-from-playlist="song" data-index="{{$index}}">
                <small class="text-white">(remove)</small>
              </a>
              <span ng-if="currentPlaying.id == song.id" class="text-white"> - (current)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </ion-content>

</ion-view>



